{% extends "default.html" %}
{% block title %}Firmware SWIDs{% endblock %}

{% block nav %}{% include 'component-nav.html' %}{% endblock %}

{% block content %}

<div class="card">
  <div class="card-body">
    <h2 class="card-title">Software Bill of Materials</h2>
    <a class="card-link btn btn-info" href="{{url_for('components.route_swids_archive', component_id=md.component_id)}}">
      Export as SWID archive
    </a>
  </div>
</div>

{% for identity in identities %}

<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">
      {{identity.software_name or 'Unknown'}} &mdash; v{{identity.software_version}}
      <span class="float-right">
        <code>{{identity.tag_id}}</code>
      </span>
    </h2>
    <table class="table card-text">
{% if identity.tag_version %}
      <tr class="row">
        <th class="col-2">Tag Version</th>
        <td class="col">{{identity.tag_version}}</td>
      </tr>
{% endif %}
{% if identity.summary %}
      <tr class="row">
        <th class="col-2">Summary</th>
        <td class="col">{{identity.summary}}</td>
      </tr>
{% endif %}
{% if identity.product %}
      <tr class="row">
        <th class="col-2">Product</th>
        <td class="col">{{identity.product}}</td>
      </tr>
{% endif %}
{% if identity.colloquial_version %}
      <tr class="row">
        <th class="col-2">Colloquial Version</th>
        <td class="col">{{identity.colloquial_version}}</td>
      </tr>
{% endif %}
{% if identity.revision %}
      <tr class="row">
        <th class="col-2">Revision</th>
        <td class="col">{{identity.revision}}</td>
      </tr>
{% endif %}
{% if identity.edition %}
      <tr class="row">
        <th class="col-2">Edition</th>
        <td class="col">{{identity.edition}}</td>
      </tr>
{% endif %}
{% for entity in identity.entities %}
      <tr class="row">
        <th class="col-2">Entity</th>
        <td class="col">
          <a href="https://{{entity.regid}}/">{{entity.name}}</a>
        </td>
        <td class="col-5">
{% for role in entity.roles %}
          <span class="badge badge-pill badge-primary">{{role.name}}</span>
{% endfor %}
        </td>
      </tr>
{% endfor %}
{% for link in identity.links %}
      <tr class="row">
        <th class="col-2">Link</th>
        <td class="col"><code>{{link.href}}</code></td>
        <td class="col-5"><code>{{link.rel}}</code></td>
      </tr>
{% endfor %}
{% if identity.generator %}
      <tr class="row">
        <th class="col-2">Generator</th>
        <td class="col">
{% if identity.generator == 'uSWID' %}
          <a href="https://github.com/hughsie/python-uswid">{{identity.generator}}</a>
{% else %}
          {{identity.generator}}
{% endif %}
        </td>
      </tr>
{% endif %}
    </table>
  </div>
</div>

{% endfor %}

{% endblock %}
