<nav>
  <div class="text-center mb-3">
    <div class="btn-group" role="group">
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'fsck.route_view' else 'default'}}"
        href="{{url_for('fsck.route_view')}}">Overview</a>
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'fsck.route_list' else 'default'}}"
        href="{{url_for('fsck.route_list')}}">History</a>
    </div>
  </div>
</nav>
