{% extends "default.html" %}
{% block title %}Analytics{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
<script src="{{url_for('cdn', filename='Chart.js')}}"></script>
<script>
Chart.defaults.global.animation = false;
</script>

<canvas id="metadataChartMonths" width="1000" height="600"></canvas>
  </div>
</div>
<script>
var ctx = document.getElementById("metadataChartMonths").getContext("2d");
var data = {
    labels: {{labels|safe}},
    datasets: [
        {
            label: "Searches",
            borderColor: "rgba(20,120,220,0.2)",
            backgroundColor: "rgba(20,120,220,0.2)",
            data: {{data|safe}}
        },
    ]
};

new Chart(ctx, {
    type: 'bar',
    data: data,
    options: {
        legend: {
            display: false
        }
    }
});

</script>
{% endblock %}
