{% extends "default.html" %}
{% block title %}Upload{% endblock %}

{% block content %}
{% if vendor_ids|length > 0 and '*' not in vendor_ids %}
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Restrictions</h2>
<p class="card-text">
  Due to the sensitive nature of providing firmware files we ensure that only
  vendors can install firmware on their own devices.
  You are currently limited to providing firmware with the vendor IDs of:
</p>
<ul>
{% for vendor_id in vendor_ids %}
<li><code>{{vendor_id}}</code></li>
{% endfor %}
</ul>
<p class="card-text">
  If you need to add another vendor ID then please
  <a href="https://gitlab.com/fwupd/lvfs-website/issues">file an issue</a>
  with further information.
</p>
  </div>
</div>
{% endif %}

<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Upload Firmware</h2>
    <p class="card-text">
      Uploading firmware is covered by <a href="{{url_for('agreements.route_show')}}">our legal agreement</a>.
    </p>
{% if g.user.vendor.do_not_track %}
    <div class="alert alert-info mb-3" role="alert">
      Your vendor manager has globally enabled &lsquo;Do Not Track&rsquo; for all firmware.
      No download statistics or user reports will be available for any files
      uploaded by your user account.
    </div>
{% endif %}
    <form action="{{url_for('upload.route_firmware_async')}}" method="post" enctype="multipart/form-data" class="form">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <div class="form-group">
        <label for="file-input">Select firmware file</label>
        <input type="file" class="form-control-file" id="file-input" id="file" name="file" required/>
      </div>
{% if affiliations|length %}
      <div class="form-group card-text">
        <label for="vendor_id">Upload for vendor</label>
        <select class="form-control pt-0 pb-0 pl-0 pr-0" id="vendor_id" name="vendor_id" size="{{affiliations|length+1}}" required>
          <option class="pt-2 pb-2 pl-2" value="{{g.user.vendor.vendor_id}}">{{g.user.vendor.display_name_with_team}}</option>
{% for r in affiliations %}
          <option class="pt-2 pb-2 pl-2" value="{{r.vendor.vendor_id}}">{{r.vendor.display_name_with_team}}</option>
{% endfor %}
        </select>
      </div>
{% else %}
      <input type="hidden" name="vendor_id" value="{{g.user.vendor_id}}">
{% endif %}
{% if g.user.vendor.is_embargo_default %}
      <input type="hidden" name="target" value="embargo">
{% else %}
      <div class="form-group card-text">
        <label for="target">Upload to remote</label>
        <select class="form-control pt-0 pb-0 pl-0 pr-0" id="target" name="target" size="2" required>
          <option class="pt-2 pb-2 pl-2" value="private">Private (secret)</option>
          <option class="pt-2 pb-2 pl-2" value="embargo">Embargoed (available to all members of the vendor group)</option>
        </select>
      </div>
{% endif %}
      <input type="submit" class="btn btn-primary card-link" value="Upload"/>
    </form>
  </div>
</div>

{% if uploads %}
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Previous Uploads</h2>
    <table class="table">
      <tr class="row">
        <th class="col col-sm-2">Uploaded</th>
        <th class="col col-sm-5">Filename</th>
        <th class="col col-sm-3">Status</th>
        <th class="col col-sm-2">&nbsp;</th>
      </tr>
{% for up in uploads %}
      <tr class="row">
        <td class="col col-sm-2">
          {{up.revision.timestamp.strftime('%F %T')}}
{% if up.started_ts and up.ended_ts %}
          <br/>
          <span class="text-muted">{{format_humanize_naturaldelta(up.ended_ts - up.started_ts)}}</span>
{% endif %}
        </td>
        <td class="col col-sm-5">
          <a href="{{up.revision.url}}">{{up.revision.filename}}</a>
        </td>
        <td class="col col-sm-3">
{% if up.status %}
          {{up.status}}
{% else %}
          Unknown
{% endif %}
        </td>
        <td class="col col-sm-2">
{% if up.revision.fw %}
          <a class="btn btn-info btn-block" href="{{url_for('firmware.route_show', firmware_id=up.revision.fw.firmware_id)}}">Details</a>
{% endif %}
        </td>
      </tr>
{% endfor %}
  </table>
  </div>
</div>
{% endif %}

{% endblock %}
