{% extends "default.html" %}

{% block title %}MetaInfo Files : Update Protocol{% endblock %}

{% block content %}

<div class="card">
  <div class="card-body">
<p class="card-text">
  Allowed values for <code>LVFS::UpdateProtocol</code> are currently:
</p>
<table class="table card-text">
  <tr class="row table-borderless">
    <th class="col col-sm-4">Value</th>
    <th class="col col-sm-5">Name</th>
    <th class="col col-sm-1">Signed?</th>
    <th class="col col-sm-1">Generic?</th>
    <th class="col col-sm-1">Header?</th>
  </tr>
{% for pr in protocols %}
{% if pr.is_public %}
  <tr class="row">
    <td class="col col-sm-4"><code>{{pr.value}}</code></td>
    <td class="col col-sm-5">{{pr.name}}</td>
    <td class="col col-sm-1">{{'Yes' if pr.is_signed else 'No'}}</td>
    <td class="col col-sm-1">{{'Yes' if pr.is_transport else 'No'}}</td>
    <td class="col col-sm-1">
{% if pr.has_header %}
      <a href="#{{pr.value}}">Yes</a>
{% else %}
      No
{% endif %}
    </td>
  </tr>
{% endif %}
{% endfor %}
</table>
  </div>
</div>

{% endblock %}
